<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kfive.hopebible">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- network permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/hb_bible_btn_normal"
        android:label="@string/app_name"
        android:theme="@style/HopeBibleTheme">
        <activity android:name=".activities.HbHome" />
        <activity
            android:name=".activities.HbBooksAll"
            android:label="@string/title_activity_hb_books_all" />
        <activity
            android:name=".activities.HbChapterList"
            android:label="@string/title_activity_hb_chapter_list" />
        <activity
            android:name=".activities.HbVerses"
            android:label="@string/title_activity_hb_verses" />
        <activity
            android:name=".activities.HbBibleText"
            android:label="@string/title_activity_hb_bible_text" />
        <activity
            android:name=".activities.HbSearchPage"
            android:label="@string/title_activity_hb_search_page" />
        <activity
            android:name=".activities.HbSearchResult"
            android:label="@string/title_activity_hb_search_result">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activities.HbBookmarks"
            android:label="@string/title_activity_hb_bookmarks" />
        <activity
            android:name=".activities.HbColortags"
            android:label="@string/title_activity_hb_colortags" />
        <activity
            android:name=".activities.TestDrawer"
            android:label="@string/title_activity_test_drawer" />
        <activity
            android:name=".activities.HbLanding"
            android:label="@string/title_activity_dummy" />
        <activity
            android:name=".activities.HbSplash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.HbMore"></activity>
        <activity android:name=".activities.FExplore"></activity>
    </application>

</manifest>